@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

.header {
    position: fixed;
    font: 20px 'montserrat', sans-serif;
    text-align: center;
    width: 100%;
    justify-content: center;
    background-color:#101010;
    color: rgb(88, 87, 87);
}

body {
    font: 30px 'montserrat', sans-serif;
    color: rgb(88, 87, 87);
    background-color: #101010;
  }
  
.game-board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}  
ul {
    padding-left: 30px;
  }
  
  .row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(56, 55, 55);
    border: 3px solid rgb(88, 87, 87);
    float: left;
    font-size: 80px;
    color: rgb(88, 87, 87);
    font-weight: bold;
    height: 120px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 120px;
    cursor: pointer;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game-info {
    position: fixed;
    top: 18%;
    padding-left: 10px;
  }

  .btn {
      background-color: green;
      color: white;
      cursor: pointer;
  }

